CREATE DATABASE IF NOT EXISTS marketplace;
CREATE TABLE IF NOT EXISTS product_images (id INT AUTO_INCREMENT PRIMARY KEY, product_id INT NOT NULL, image_path VARCHAR(255) NOT NULL, is_main TINYINT(1) DEFAULT 0, FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE CASCADE) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
